.root {
  padding: 0;
}

// Root Container
.theme {
  height: 100vh;

  .sidebar {
    //max-width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aqua;

    .title {
      display: inherit;
      flex-direction: inherit;
      justify-content: inherit;
      align-items: inherit;

      h1 {
        font-family: "Noto Serif SC", serif;
        font-weight: bold;
      }

      h2 {
        font-family: "Noto Serif SC", serif;
      }

      h3 {
        font-family: "Oswald", sans-serif;
        letter-spacing: 1.5px;
        font-variant-caps: all-small-caps;
        //font-family: 'Montserrat', sans-serif;
      }
    }

    .search {
      .navSearch {
        color: $white;
        background-color: $body-bg;
        border-color: $gray-400;
        border-width: 0 0 1px 0;

        font-family: monospace;

        &:focus {
          box-shadow: none;
        }
      }
    }

    /*
        @include media-breakpoint-down(sm) {
          display: none;
        }*/
  }

  .content {
    background-color: antiquewhite;
    height: 100vh;
  }
}
