html,
body {
  //margin: 0;
  //padding: 0;

  //width: 100vw;
}

// Root Container
.theme  {
  height: 100vh;

  nav {
  }

  .sidebar {
    //max-width: 30vw;

    background-color: aqua;

    @include media-breakpoint-down(sm) {
      display: none;
    }

  }

  .content {
    background-color: antiquewhite;
    height: 100vh;
  }
}
