html, body {
  //margin: 0;
  //padding: 0;
  //height: 100vh;
  //width: 100vw;

}

// Root Container
.root {
  nav {

  }

  .sidebar {
    width: 30vw;
    height: 100vh;
    background-color: aqua;
  }
}

